@import 'mixins';

h1 {
    line-height: 1.2;
    @include responsive-font-size($font-size-xxl); // For H1, use XXL size
}

h2 {
    line-height: 1.3;
    @include responsive-font-size($font-size-xl); // For H2, use XL size
}

h3 {
    line-height: 1.4;
    @include responsive-font-size($font-size-lg); // For H3, use L size
}

p {
    line-height: 1.6;
    @include responsive-font-size($font-size-md); // For paragraph text
}

small {
    @include responsive-font-size($font-size-sm); // For small text
}