// Color
$text-color: #333;
$background-color: #e0e0e1;

// Space
$base-padding: 0.75rem;

// Base font sizes
$font-size-base: 16px; // Base font size for 16px
$font-size-sm: 0.875rem; // Small text
$font-size-md: 1rem; // Medium text
$font-size-lg: 1.25rem; // Large text
$font-size-xl: 1.5rem; // Extra Large text
$font-size-xxl: 2rem; // Double Extra Large text

// Breakpoints
$breakpoint-sm: 576px; // Small devices (mobile)
$breakpoint-md: 768px; // Medium devices (tablets)
$breakpoint-lg: 992px; // Large devices (desktops)
$breakpoint-xl: 1200px; // Extra Large devices (larger desktops)