@import "../../styles/variables";

.userGrid {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    @media (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
    }

    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $breakpoint-lg) {
        grid-template-columns: repeat(3, 1fr);
    }
}